<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Task Form</title>
    </head>
    <body>
        <form th:action="@{/task/newTask}" method="put">
            <div><label> Name : <input type="text" name="name"/> </label></div>
            <div><label> Description: <input type="text" name="description"/> </label></div>
            <div><label> Status: <input type="text" name="status"/> </label></div>
            <div><input type="submit" value="Save"/></div>
        </form>
    </body>
</html>